/* General */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: rgb(122,114,255);
    background: linear-gradient(90deg, rgba(122,114,255,0.3) 0%, rgba(217,199,255,0.3) 35%, rgba(164,240,255,0.3) 100%);
}

.invisible {
    display: none;
}

h1, h2 {
    margin-top: 20px;
    text-align: center;
}

#info, #gamecontainer {
    max-width: 768px;
    margin: 0 auto;
}

#info {
    background-color: aquamarine;
    border-radius: 10px;
}

#gamecontainer {
    background-color: wheat;
    border-radius: 10px;
    margin-top: 10px;
}

/* Tables */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.table tr:nth-child(odd):not(:first-child) {
    background-color: #aaa;
}
  
.table tr:nth-child(even){
    background-color: #eee;
}
  
.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/* Start */


div {
    padding: 10px;
}

/* Guess */

p#descriptor {
    text-align: right;
    margin-top: 0;
}

#guess button {
    /* width: 100px; */
}


/* Slider */
.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;  
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%; 
background: #04AA6D;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}


/* Animated button */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }